* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background: #7289bfd9;
  margin: auto;
  padding: 30px 50px;
  height: 100vh;
}

header{
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

header div button {
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  padding: 5px 0;
}

header div button .header-btn {
  text-decoration: none;
  color: #000;
  padding: 20px 12px;
}

form {
  max-width: 400px;
  background: rgba(0, 0, 0, 0.329);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 7px;
  height: 400px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 312px;
  margin: 0 auto;
}

.btn input {
  width: 100%;
  margin: 10px auto;
  padding: 15px 48px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: #e82323;
}

.username, .password {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.username input, .password input{
  margin: 15px 0;
  width: 60%;
  border: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color:#2c2c2c;
  height: auto;
  line-height: normal;
  font-size: 0.8571em;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  background-clip: padding-box;
}

.input-icon {
  margin: 15px 0;

  display: flex;
}

.input-icon-span {
 

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  background-color:#FFFFFF;
  border-left: 1px solid #E3E3E3;

  color:#555555;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  align-items: center;
  padding: .6rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
}


.input-icon-span i {
  width: 17px;  
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer .container {
  display: flex;
  width: 960px;
}


footer .container .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}




.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
